@use "../../variables/pallete" as pallete;
// navigation
nav {
    background-color: pallete.$header-gb-color;
}
a {
    text-decoration: none;
}
.nav-wrapper {
    max-width: 1500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}
.logo {
    color: #fff;
    grid-area: 1 / 1 / 2 / 2;
}
.search {
    background: #eee;
    border-radius: 5px;
    padding: 8px 0 7px 52px;
    border-style: hidden;
    grid-area: 1 / 2 / 2 / 4;
}
.search:focus {
    outline: none;
}
.links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.link {
    color: #fff;
    font-weight: 500;
    margin-left: 10px;
    margin-right: 10px;
}
nav .link:last-child {
    margin-right: initial;
    margin-left: 20px;
    display: flex;
    align-items: center;
}
.link > img {
    margin-left: 5px;
}
.yellow {
    color: pallete.$base-yellow !important;
}
@media screen and (max-width: 765px) {
    .nav-wrapper {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
    .logo {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }
    .links {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }
    .search {
        grid-row: 2 / 2;
        grid-column: 1 / 3;
        background-color: #000c2d;
        background-image: url("../../assets/images/search-icon.png");
        background-repeat: no-repeat;
        background-position: 10px;
        text-indent: 20px;
    }
    .search::placeholder {
        color: #fff;
    }
    nav .link:nth-child(-n + 3) {
        display: none;
    }
}
// mobile bar
.mobile-bar {
    background-color: pallete.$header-gb-color;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
}
