@use "variables/pallete" as pallete;
.login-copy {
    position: relative;
    align-self: flex-start;
}
.login-copy::after {
    position: absolute;
    content: "";
    height: 2px;
    bottom: -5px;
    left: 0;
    right: 0;
    width: 50px;
    background: pallete.$base-yellow;
    border-radius: 4px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
}
form input[type="text"],
form input[type="password"] {
    border: 0;
    border-bottom: 2px solid #fff;
    background-color: pallete.$base-bg-color;
    padding-bottom: 10px;
    margin-bottom: 25px;
    width: 100%;
    color: #fff;
}
form label {
    margin-bottom: 15px;
}
.loginButton {
    background-color: pallete.$base-yellow;
    font-weight: 700;
    font-size: 16px;
    padding: 10px 40px;
    border-radius: 10px;
    align-self: center;
    line-height: 16px;
}
.github-button {
    background-color: #141414;
    border: 1px #fff solid;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    padding: 10px 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}
